<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Racist Boy | Birthday</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="relative isolate h-screen w-screen px-20 py-20 sm:p-20 lg:overflow-x-hidden lg:px-20 lg:py-10 md:py-20"
      id="chat-container"
    >
      <div class="max-w-xl mx-auto">
        <button
          class="animate-bounce fixed right-10 bottom-10 p-0 w-12 h-12 bg-blue-500 rounded-full hover:bg-blue-400 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none"
          onclick="movepage()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 26 26"
            stroke-width="1.5"
            class="w-6 h-6 stroke-white mx-3.5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              Well, my good friend...
            </p>
          </div>
        </div>

        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              Happy 22nd, Ren!
            </p>
          </div>
        </div>

        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              You're getting old, my friend
            </p>
          </div>
        </div>

        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              And, I'm young hahaha
            </p>
          </div>
        </div>

        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              Our racist boy...
            </p>
          </div>
        </div>

        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              I will put my eyes on your sempro later,
            </p>
          </div>
        </div>

        <div class="item-chat flex items-start gap-2.5 mb-5 opacity-0">
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              So, you better prepare yourself
            </p>
          </div>
        </div>

        <div
          class="item-chat flex items-start gap-2.5 sm:pb-20 lg:pb-0 pb-20 opacity-0"
        >
          <img
            class="w-8 h-8 rounded-full"
            src="../assets/images/oikawa.jpg"
            alt="Jese image"
          />
          <div
            class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700"
          >
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <span class="text-sm font-semibold text-gray-900 dark:text-white"
                >Saya</span
              >
              <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
                >13:02</span
              >
            </div>
            <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">
              Koraa!!
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const itemChats = document.querySelectorAll(".item-chat");

    itemChats.forEach((itemChat, index) => {
      setTimeout(() => {
        itemChat.classList.remove("opacity-0");
      }, index * 2000);
    });

    function movepage() {
      window.location.href =
        "https://rizhaalfianita.github.io/birthday-boy/closing.html";
    }
  </script>
</html>

<style>
  .item-chat {
    transition: opacity 0.7s ease-in-out;
    transition-delay: 1s;
  }
</style>
