<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Racist Boy | Birthday</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="relative isolate h-screen w-screen px-20 py-20 sm:p-20 lg:overflow-hidden lg:px-20 lg:pt-10 md:pt-20"
    >
      <div class="flex">
        <div class="box-content h-12 w-3 bg-blue-500 mr-6 my-1"></div>
        <h1 class="racist-text text-5xl font-bold text-gray-900 mb-6">
          The Racist Treasure
        </h1>
      </div>
      <span
        class="racist-desc leading-relaxed text-2xl font-light text-gray-900"
      ></span>
      <div
        class="grid lg:grid-cols-4 gap-8 sm:grid-cols-1 md:grid-cols-4 grid-cols-1 pb-20 mt-10"
      >
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal1()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal2()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal3()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal4()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal5()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal7()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
        <div
          class="box bg-gray-100 rounded-lg px-5 hover:border-2 hover:border-gray-900 items-center justify-center flex opacity-0"
          onclick="showModal6()"
        >
          <img
            src="../assets/images/being-silly-crazy.png"
            class="object-contain max-w-full max-h-full"
            alt=""
          />
        </div>
      </div>

      <div
        class="modal hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="flex flex-wrap justify-center gap-1 desc-modal">
              <p
                class="content-modal mb-1 text-xl font-light text-gray-900 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal font-bold text-blue-500 mb-1 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>
            <div class="flex justify-center mb-6 px-4">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-1 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal-1 text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="desc-modal-1 flex flex-wrap justify-center gap-1">
              <p
                class="content-modal-1 mb-1 text-xl font-light text-gray-900 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal-1 font-bold text-blue-500 mb-1 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>

            <div class="flex justify-center mb-6 px-4">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal1()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-2 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal-2 text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="desc-modal-2 flex flex-wrap justify-center gap-1">
              <p
                class="content-modal-2 text-xl font-light text-gray-900 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal-2 font-bold text-blue-500 mb-1 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>

            <div class="flex justify-center mb-6 px-4">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal2()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-3 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal-3 text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="desc-modal-3 flex flex-wrap justify-center gap-1">
              <p
                class="content-modal-3 mb-1 text-xl font-light text-gray-900 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal-3 font-bold mb-1 text-blue-500 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>

            <div class="flex justify-center mb-6 px-4">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal3()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-4 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal-4 text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="desc-modal-4 flex flex-wrap justify-center gap-1">
              <p
                class="content-modal-4 mb-1 text-xl font-bold text-blue-500 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal-4 font-light text-gray-900 mb-1 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>

            <div class="flex justify-center mb-6 px-4">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal4()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-5 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal-5 text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="desc-modal-5 flex flex-wrap justify-center gap-1">
              <p
                class="content-modal-5 mb-1 text-xl font-light text-gray-900 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal-5 font-bold text-blue-500 mb-1 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>

            <div class="flex justify-center mb-6 px-4">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal5()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-6 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <div class="px-10 lg:px-20 sm:px-10">
              <img
                src="../assets/images/correct.png"
                class="img-modal-6 object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <h2
              class="title-modal-6 text-xl text-gray-900 font-bold mb-7 sm:text-xl lg:text-3xl md:text-3xl"
            >
              Holy moly, is this the right one??
            </h2>
            <div class="btn-modal-6 flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
              >
                <a href="chat.html">Yess!!</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal-7 hidden fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity z-50"
      >
        <div class="flex items-center justify-center h-screen px-10">
          <div class="modal-item bg-white rounded-lg p-8 text-center">
            <h2
              class="title-modal-7 text-2xl text-gray-900 font-bold mb-1 sm:text-2xl lg:text-3xl md:text-3xl"
            ></h2>
            <div class="desc-modal-7 flex flex-wrap justify-center gap-2">
              <p
                class="content-modal-7 mb-1 text-xl font-light text-gray-900 sm:text-xl lg:text-2xl md:text-2xl"
              ></p>
              <span
                class="span-modal-7 font-bold text-blue-500 mb-1 text-xl sm:text-xl lg:text-2xl md:text-2xl"
              ></span>
            </div>

            <div class="flex justify-center px-4 mb-6">
              <img
                src="../assets/images/mini-picture.png"
                class="img-modal object-contain max-w-full max-h-full"
                alt="Leadership Image"
              />
            </div>
            <div class="flex justify-center">
              <button
                class="transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-400 bg-gray-900 text-white px-5 py-2 rounded-md mr-2 hover:bg-gray-800"
                onclick="closeModal7()"
              >
                Try again
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="../assets/scripts/script_modals.js"></script>

    <script>
      const gridItems = document.querySelectorAll(".box");
      gridItems.forEach((item, index) => {
        setTimeout(() => {
          item.classList.remove("opacity-0");
          // item.addEventListener("click", () => showModal(index));
        }, index * 400); // Adjust the delay as needed
      });

      setTimeout(() => {
        var typed = new Typed(".racist-desc", {
          strings: ["This boxes are full of racism, find the one that is not"],
          typeSpeed: 50,
          loopSpeed: 50,
          looped: true,
        });
      }, 2000);
    </script>
  </body>
</html>

<style>
  @keyframes slideInFromTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInFromBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .title-modal,
  .title-modal-1,
  .title-modal-2,
  .title-modal-3,
  .title-modal-4,
  .title-modal-4,
  .title-modal-5,
  .title-modal-7 {
    opacity: 0;
    animation: slideInFromTop 1s ease-in-out forwards;
    animation-delay: 0.8s;
  }

  .desc-modal,
  .desc-modal-1,
  .desc-modal-2,
  .desc-modal-3,
  .desc-modal-4,
  .desc-modal-5,
  .desc-modal-6,
  .desc-modal-7 {
    opacity: 0;
    animation: slideInFromBottom 1.2s ease-in-out forwards;
    animation-delay: 2s;
  }

  .img-modal {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3s;
  }

  button {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3.5s;
  }

  .img-modal-6 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
  }

  .title-modal-6 {
    opacity: 0;
    animation: slideInFromTop 1s ease-in-out forwards;
    animation-delay: 2.5s;
  }

  .btn-modal-6 {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3s;
  }

  .modal-item {
    animation: slideIn 0.7s ease-in-out forwards;
  }

  .box {
    transition: opacity 0.5s ease-in-out;
    transition-delay: 7s;
  }

  .box-content,
  .racist-text {
    opacity: 0;
    animation: slideIn 1.5s ease-in-out forwards;
  }
</style>
